// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3{
  background-color: #5B2C6F;
  color: white;
}

.second{
  position: relative;
  left: 300px;
  top: -51px;
  background-color: #8E4585
}
.first{
  background-color: #858E45
}
