<center>
<form method="get" action="home">
<table border="0">
<tr><td>Enter data</td> <td><input type="text" /></td></tr>
<td/><td><button type="submit" value="submit">submit</button></td>
</table>
</form>
<br/>
<a href="www.google.com">gotohome</a>
</center>
